.App-header {
    width: 80%;
    min-width: 500px;
    font-size: 2.2em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
}

.body {
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}

.display {
    /* border: rgb(28, 127, 239) solid 5px; */
    margin: 0.7em;
}

.add {
    /* border: rgb(4, 60, 124) solid 5px; */
}
.add-title {
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: var(--today-color-dark);
    border: solid var(--today-color-dark) 5px;
    margin: 0.7em;
    padding: 0.7em;
    font-weight: 500;
    box-shadow: 0px 20px 35px -15px black;
}
.add-title:hover {
    /* background-color: white;
    color: var(--today-color-dark);
    border: solid var(--today-color-dark) 5px; */
    transform: scale(1.02);
    transition: ease-out 200ms;
}
.add-title:active {
    background-color: var(--box-body-color);
    color: var(--today-color-dark);
    border: solid var(--today-color-dark) 5px;
}

.add-input {
    display: none;
    /* transition: ease-out 20s; */
}

.upcoming {
    text-align: center;
}

.upcoming-window {
    max-height: 400px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}